# Node modules
node_modules/
Whatsapp/node_modules/

# Sessões e cache
Whatsapp/.wwebjs_auth/
Whatsapp/.wwebjs_cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e temporários
*.log
*.tmp

# Mac OS
.DS_Store

# Arquivos de ambiente
.env
